<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /v0.1/
RewriteCond %{REQUEST_FILENAME} !-f

#category.shtml,miniblog/page/2.shtml...
RewriteRule ^(category|miniblog|tag|guestbook)(/page/([2-9]|[1-9]\d+))?\.shtml$ yabindex\.php/$1/index?page=$3 [L]

#cagegory/php.shtml,tag/seo/page/2.shtml...
RewriteRule ^(blog|category|tag)/([^/]+)(/page/([2-9]|[1-9]\d+))?\.shtml$ yabindex\.php/$1/index?name=$2&page=$4 [L]

#blog/20130417/100.shtml,miniblog/20130417/100.shtml
RewriteRule ^(blog|miniblog)/(201[3-9]\d{2}\d{2})/([1-9]\d*)\.shtml$ yabindex\.php/$1/detail?date=$2&id=$3 [L]
</IfModule>